.product {
  width: 100%;
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
}

.product__title {
  font-weight: 700;
  margin-top: 1rem;
  text-align: left;
}

.product__price {
  text-align: left;
}

.product__rating {
  justify-content: center;
}

.product__img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 1rem 0;
}

.product__cartButton {
  background-color: gold;
  border-radius: 4px;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: pointer;
}
